code/node-red/flows.json
[
    {
        "id": "5f19d0477b240336",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8955c4037566c12f",
        "type": "ui_switch",
        "z": "5f19d0477b240336",
        "name": "LED",
        "label": "LED",
        "tooltip": "LED",
        "group": "2f7161a2b32422a5",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "raum/LED",
        "topicType": "str",
        "style": "",
        "onvalue": "off",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "on",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "836b11ed5d62f64d",
                "4628d56d8139a5c9"
            ]
        ]
    },
    {
        "id": "2b7751572e057b50",
        "type": "ui_chart",
        "z": "5f19d0477b240336",
        "name": "Temperatur",
        "group": "546146077206459f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f93ce719c54f1e3f",
        "type": "ui_gauge",
        "z": "5f19d0477b240336",
        "name": "",
        "group": "546146077206459f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Feuchte",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 480,
        "wires": []
    },
    {
        "id": "c7b166101cfa424e",
        "type": "mqtt in",
        "z": "5f19d0477b240336",
        "name": "Temperatur",
        "topic": "raum/temperatur",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a72318e0b395b3a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 380,
        "wires": [
            [
                "2b7751572e057b50"
            ]
        ]
    },
    {
        "id": "184b657e0fd66ac2",
        "type": "mqtt in",
        "z": "5f19d0477b240336",
        "name": "Feuchte",
        "topic": "raum/feuchte",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a72318e0b395b3a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 480,
        "wires": [
            [
                "f93ce719c54f1e3f"
            ]
        ]
    },
    {
        "id": "836b11ed5d62f64d",
        "type": "mqtt out",
        "z": "5f19d0477b240336",
        "name": "LED",
        "topic": "raum/LED",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72318e0b395b3a2",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "4628d56d8139a5c9",
        "type": "debug",
        "z": "5f19d0477b240336",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "be78bdf466b9c02e",
        "type": "mqtt in",
        "z": "5f19d0477b240336",
        "name": "Verbindung",
        "topic": "raum/verbindung",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a72318e0b395b3a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 580,
        "wires": [
            [
                "cb6050eaf2c0fc07"
            ]
        ]
    },
    {
        "id": "cb6050eaf2c0fc07",
        "type": "ui_text",
        "z": "5f19d0477b240336",
        "group": "bef1b27b6bcaf4f5",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Verbindung",
        "label": "Verbindung:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "9f5ee14bb07e3147",
        "type": "ui_switch",
        "z": "5f19d0477b240336",
        "name": "",
        "label": "LED 2",
        "tooltip": "",
        "group": "2f7161a2b32422a5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "raum/LED2",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 720,
        "wires": [
            [
                "ee130346bd6ed603"
            ]
        ]
    },
    {
        "id": "ee130346bd6ed603",
        "type": "mqtt out",
        "z": "5f19d0477b240336",
        "name": "LED2",
        "topic": "raum/LED2",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72318e0b395b3a2",
        "x": 710,
        "y": 720,
        "wires": []
    },
    {
        "id": "2f7161a2b32422a5",
        "type": "ui_group",
        "name": "LED",
        "tab": "a5e2f8d895b8893c",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "546146077206459f",
        "type": "ui_group",
        "name": "Sensor",
        "tab": "a5e2f8d895b8893c",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a72318e0b395b3a2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bef1b27b6bcaf4f5",
        "type": "ui_group",
        "name": "Verbindung",
        "tab": "a5e2f8d895b8893c",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5e2f8d895b8893c",
        "type": "ui_tab",
        "name": "PEL",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]